html, body, p, h1, h3, h5
  margin 0
  padding 0
p, span, div
  font-size 14px
a
  text-decoration none
#app
  .mint-navbar
    margin-bottom 3px

.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
.ellipsis
  display -webkit-box
  -webkit-box-orient vertical
  overflow hidden
  -webkit-line-clamp 3
.one-ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

[aspectratio]
  position relative
[aspectratio]::before
  content ''
  display block
  width 1px
  margin-left -1px
  height 0
[aspectratio-content]
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
